[submodule "Nuklear"]
	path = Nuklear
	url = git@github.com:randdvorak/Nuklear.git
[submodule "tinycc"]
	path = tinycc
	url = git://repo.or.cz/tinycc.git
[submodule "llama.cpp"]
	path = llama.cpp
	url = git@github.com:ggml-org/llama.cpp.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "third_party/sqlite"]
	path = third_party/sqlite
	url = https://github.com/sqlite/sqlite.git
